Flask==3.1.0
flask-cors==5.0.1
mysql-connector-python==9.3.0
pillow==11.2.1
reportlab==4.4.0
ultralytics==8.3.108
ultralytics-thop==2.0.14

google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0

python-dotenv==1.2.1
requests==2.32.5